body {
    text-align: center;
    animation: bganimation 60s infinite;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#login {
    width: 30vw;
}

.title {
    font-size: 9em;
    font-family: 'Bangers', cursive;
}

.form-floating {
    font-family: 'Bebas Neue', cursive;
}

.form-control {
    box-shadow: none !important;
}

.form-control:focus {
    border-color: #212529 !important;
}

#start-button {
    background-color: transparent;
    border-radius: 8px;
    border-color: transparent;
    font-size: 2em;
    font-weight: 800;
}

#start-button:hover {
    color: tomato;
}

#start-button:active {
    color: #0d6efd;
}

@keyframes bganimation {
    0% {
        background-color: #7CCEE8;
    }
    17% {
        background-color: #848FF5;
    }
    34% {
        background-color: #90F080;
    }
    51% {
        background-color: #f5deb3;
    }
    68% {
        background-color: #FF6347;
    }
    85% {
        background-color: #FF83F3;
    }
    100% {
        background-color: #7CCEE8;
    }
}